
.flex{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.game-field{
    background: radial-gradient(#58fcec, #277069);
}
.game-overlay{
    background: transparent;
    position: absolute;
    pointer-events: none;
}